<% error = @vote.errors.include?(:account_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :account_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :account_id, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:account_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @vote.errors.include?(:vote_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :vote_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :vote_id, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:vote_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @vote.errors.include?(:content) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :content, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :content, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:content) : "Ex: a simple text" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:votes, :index), :class => 'btn btn-default' %>
</div>